
<div *ngIf="dataFile">
    <h2><span>Data File</span> {{dataFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{dataFile.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Logical Name</span></dt>
        <dd>
            <span>{{dataFile.logicalName}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{dataFile.status}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{dataFile.type}}</span>
        </dd>
        <dt><span>Version</span></dt>
        <dd>
            <span>{{dataFile.version}}</span>
        </dd>
        <dt><span>Source Path</span></dt>
        <dd>
            <span>{{dataFile.sourcePath}}</span>
        </dd>
        <dt><span>Taget Path</span></dt>
        <dd>
            <span>{{dataFile.tagetPath}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'data-file/'+ dataFile.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
